.dropdown {
  height: 63px;
  width: 494px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 2px solid #9b9c9e;
  display: inline-block;

  .field {
    padding: 10px 15px;
    width: 100%;
    // height: 477px;
    // margin: auto;
    // display: flex;
    display: inline-block;
    align-items: center;
    justify-content: space-between;

    // padding-top: -5px;

    input {
      // display: inline;
      background: none;
      width: 440px;
      outline: none;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
    }

    input::placeholder {
      color: #7a7b7d;

      font-variant: all-small-caps;
      font-size: 24px;
      line-height: 32px;
    }

    .arrowUp,
    .arrowDown {
      display: inline;
      height: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .arrowUp {
      transform: rotate(180deg);
    }

    .arrowUp,
    .arrowDown,
    input {
      margin-top: 6px;
    }
  }

  .drop {
    // display: none;
    position: absolute;
    background: white;
    // margin-top: calc(-100% + 63px);
    // margin-bottom: auto;
    padding: 0 25px;
    width: 90%;
    // margin-top: 55%;

    .item {
      display: flex;
      align-items: center;
      // width: 100%;
      $circleHeight: 13px;
      z-index: 1000000;

      &:hover {
        cursor: pointer;

        .circle {
          background: #402fff;
        }
      }

      .circle,
      .activeCircle {
        border-radius: 50px;
        width: $circleHeight;
        height: $circleHeight;
        margin-right: 15px;
      }

      .circle {
        background: #d9d9d9;
      }

      .activeCircle {
        background: #402fff;
      }
    }
  }
}
