.datePoint {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2d2e37;
  // background-image: url('../../assets/img/line_month.svg');
  // background-size: contain;
  // background-repeat: no-repeat;
  background-position: center;
  .datePoint_elem {
    // margin-right: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;

    .datePoint_circle {
      width: 23px;
      height: 23px;
      border-radius: 50px;
      background: #d9d9d9;
    }
    .datePoint_circle_active {
      filter: blur(5px);
      box-shadow: 0 0 20px #402fff;
      width: 25px;
      height: 25px;
      border-radius: 50px;
      background: #402fff;
    }
  }
  .datePoint_month {
    margin: 0;
    margin-top: 10px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}
