.button {
  width: 278px;
  min-height: 75px;
  background: #402fff;
  border: 1px solid rgba(27, 28, 33, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.96px;
  color: #ffffff;
}
