.sideBar {
  padding: 30px;
  width: 250px;
  .sideBar_elem {
    display: flex;
    justify-content: end;
    a {
      text-align: right;
      font-style: normal;
      font-weight: 500;
      font-size: 1.25em;
      line-height: 31px;
      text-decoration: none;
      color: #ffffff;
      padding-bottom: 49px;
    }
  }
}
