// Цвета логотипа для его использования на тёмном фоне
$blue:#402FFF;
$red:#EC1D35;
$white:#EDEDED;

// Дополнительные цвета для лого для светлого фона:
$bgWhite:#C8C9CA;//White/лого_светлый_фон
$bgpBlack:#1B1C21; //Black

// Градации серого
// Используются для фона и шрифта
$fWhite:#EDEDED;
$fBlack:#1B1C21;
$fGrayBright:#2D2E37;
$fGrayMiddle:#3A3C46;
$fGrayLighte:#D9D9D9;
$fGrayLighte2:#9B9C9E;

