.card {
  width: min-content;
  background: #2d2e37;
  padding: 20px;
  border-radius: 10px;
  margin: 2%;
  &:hover {
    -webkit-box-shadow: 0 0 20px blue;
    -moz-box-shadow: 0 0 20px blue;
    box-shadow: 0 0 20px blue;
    transform: scale3d(1.006, 1.016, 1);
  }
  div {
    margin-bottom: 5%;
  }

  .cardDesc {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #ededed;
  }
  .cardTag {
    display: flex;
    flex-wrap: wrap;
    .cardTagElem {
      padding: 1%;
      border: 1px solid #6558ff;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-family: 'JetBrains Mono';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #6558ff;
      margin-right: 1%;
    }
  }
  .cardDate {
    span {
      color: rgba(237, 237, 237, 0.5);
    }
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ededed;
  }
  .cardTeam {
    span {
      color: rgba(237, 237, 237, 0.5);
    }
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #ededed;
  }
  .card_like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    width: 186px;
    height: 34px;
    background: #402fff;
    border: 1px solid rgba(27, 28, 33, 0.3);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.96px;

    color: #ffffff;
  }
}
